{% extends "base.html" %}

{% block title %}
    {{ profile.username }}
{% endblock %}

{% block header %}
    <h2>{{ profile.username }}</h2>
{% endblock %}
{% block content %}
	<section class="section light-theme">
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
                {% if posts %}
                <ul class="post-list">
                    {% for post in posts %}
                        <li>
                            <h3>{{ post.title }}</h3>
                            <h5 class="post-meta">{{ post.created_at }}</h5>
                            <p class="post-content">{{ post.content }}</p>

                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>No posts yet</p>
                {%  endif %}
			</div>
		</div>
	</section>
{%  endblock %}
