{% load static %}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Dev Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cerebro.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="hero-wrapper">
        <header class="menu menu-horizontal menu-top dark-theme transparent">
            <div class="container">
                <!-- BRANDING -->
                <a href="{% url 'post:index' %}" class="nav-left anchor menu-logo">home</a>

            </div><!-- END WRAPPER -->
        </header><!-- END TOP MENU -->

        {% block content %}{% endblock %}
    </div>
</body>
</html>