{% extends "accounts/base.html" %}

{% block content %}
    <section class="section text-center bg hero-bg dark-theme purplin-bg">
        <div class="container">
            <h1 class="thin">Dev Blog</h1>
            <div class="form text-left">
                <form action="/auth/" method="POST">
                    <div class="container-fluid">
                        <h2>Log in to your account</h2>
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="submit" class="col-xs-12 button button-default button-pill button-light-o">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <p>
         <!-- SIGN UP -->
        New?&nbsp; <a href="/accounts/register"><span class="button button-default button-pill button-light-o">sign up</span></a>

    </p>
    </section>
{% endblock %}

