/*
ul {
    padding: 0;
    list-style-type: none;
}

.menu {
    height: 4em;
    line-height: 4em;
    border: 1px solid black;
    background: #222;
}

.menu ul {
    margin: 0;
}
.menu ul li {
    display: inline-block;
}

.menu a {
    color: #fff;
}

*/
/* http://uigradients.com/ */

h1 {
    font-size: 5em;
}

.section {
    border-bottom: none;
}
.purplin-bg {
    background: #6a3093; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6a3093 , #a044ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6a3093 , #a044ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.button-default {
    text-transform: lowercase;
}

.login .container {
    margin-top: 3em;
}