{% load static %}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Posting site{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="menu" class="menu">
        <div class="container">
            <a href="{% url 'post:index' %}" class="navbar-brand">Home</a>
            <ul class="pull-right">
                {% if user.is_authenticated %}
                    <li><a class="btn btn-primary">create post</a></li>
                    {% if user.is_superuser %}<li><a href="/admin">admin</a></li>{% endif %}
                    <li><a href="{% url 'post:user' user.username %}">profile</a></li>
                    <li><a>settings</a></li>
                    <li><a>logout</a></li>
                {% else %}
                    <li><a>login</a></li>
                    <li><a href="/accounts/register" class="btn btn-primary">signup</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>