{% extends "base.html" %}

{% block header %}
    <h1 class="thin">Dev blog</h1>
{% endblock %}
{% block content %}
	<section class="section light-theme">
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
                {% if posts %}
                <ul class="post-list">
                    {% for post in posts %}
                        <li>
                            <h3><a href="{% url 'post:post' post.id %}" class="post-title">{{ post.title }}</a></h3>
                            <p class="post-content">{{ post.content }}</p>
                            <h5 class="post-meta"><a href="{% url 'users:user' post.user.username %}">{{ post.user.username }}</a> {{ post.created_at }}</h5>
                        </li>
                    {% endfor %}
                </ul>
                {%  endif %}
			</div>
		</div>
	</section>
{%  endblock %}
