<!-- =========================
	TOP MENU
============================== -->
<header class="menu menu-horizontal menu-top dark-theme transparent">
	<div class="container">
		<!--
		DESKTOP NAVIGATION
		========================================= -->
		<!-- BRANDING -->
        <ul class="nav-left">
            <li><a href="https://github.com/albertaw/python-blog-template" target="_blank" class="fa fa-2x fa-github"></a></li>
            <li><a href="{% url 'post:index' %}" class="anchor menu-logo">home</a></li>
        </ul>

		<!-- MENU LINKS GO HERE -->
        <ul class="hidden-xs hidden-sm nav-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'post:new' %}" class="button button-default button-sm button-blue">create post</a></li>
                <li><a href="{% url 'users:user' user.username %}">profile</a></li>
                <li><a href="{% url 'dashboard:index' %}">settings</a></li>
                <li><a href="{% url 'auth:logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'auth:login' %}">login</a></li>
                {# I need to use a url tag here #}
                <li><a href="/accounts/register" class="button button-default button-pill button-sm button-light-o">signup</a></li>
            {% endif %}
        </ul>

		<!-- MENU NAVICON -->
		<input id="nav-toggle" class="toggle-input" type="checkbox" unchecked>
		<label for="nav-toggle">
			<span class="fa fa-navicon fa-2x nav-right visible-xs-inline-block visible-sm-inline-block"></span>
		</label>
		<!--
		MOBILE NAVIGATION OVERLAY
		============================================ -->
		<div class="menu-mobile dark-theme purplin-bg opaque">
			<div class="container-fluid">
				<!-- MENU TOGGLE CLOSE -->
				<label class="pull-left" for="nav-toggle">
					<span class="fa fa-close fa-2x"></span>
				</label>
			</div>
			<!-- MENU LINKS GO HERE-->
			<ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'post:new' %}" class="button button-default button-blue">create post</a></li>
                    <li><a href="{% url 'users:user' user.username %}">profile</a></li>
                    <li><a href="{% url 'dashboard:index' %}">settings</a></li>
                    <li><a href="{% url 'auth:logout' %}">logout</a></li>
                {% else %}
                    <li><a href="{% url 'auth:login' %}">login</a></li>
                    {# I need to use a url tag here #}
                    <li><a href="/accounts/register" class="button button-default button-pill button-light-o">signup</a></li>
                {% endif %}
			</ul>
		</div><!-- END MOBILE MENU-->
	</div><!-- END WRAPPER -->
</header><!-- END TOP MENU -->
